---
title: Welcome to my portfolio
---

<header>
  <div>
    <h1>
      Hello
    </h1>
    <h2>I'm Thibault</h2>
  </div>

  <div>
    <a href="Linkedin">Linkedin</a>
    <a href="Github">Github</a>
    <a href="Twitter">Twitter</a>
  <h3>I'm a geek.
  </h3>
  </div>
</header>

<section class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-xs-12 no-padding">
      <article style="background-image:url(https://picsum.photos/500/500?image=12); background-size: cover;">
      </article>
    </div>
    <div class="col-md-4 col-xs-12 no-padding">
      <article style="background-image:url(https://picsum.photos/500/500?image=19); background-size: cover;">
      </article>
    </div>
    <div class="col-md-4 col-xs-12 no-padding">
      <article style="background-image:url(https://picsum.photos/500/500?image=2); background-size: cover;">
      </article>
    </div>
    <div class="col-md-4 col-xs-12 no-padding">
      <article style="background-image:url(https://picsum.photos/500/500?image=25); background-size: cover;">
      </article>
    </div>
    <div class="col-md-4 col-xs-12 no-padding">
      <article style="background-image:url(https://picsum.photos/500/500?image=53); background-size: cover;">
      </article>
    </div>
    <div class="col-md-4 col-xs-12 no-padding">
      <article style="background-image:url(https://picsum.photos/500/500?image=43); background-size: cover;">
      </article>
    </div>
  </div>
</section>

<footer>
  <form name="contact" netlify>
  <p>
    <label>Name <input type="text" name="name" /></label>
  </p>
  <p>
    <label>Email <input type="email" name="email" /></label>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form>
</footer>

